name: Python CI/CD Pipeline

on:
  push:
    branches:
      - main
      - staging
  workflow_dispatch:

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Tests
        run: |
          pytest -v

      - name: Build Application
        if: success()
        run: echo "Build step completed"  # add packaging if needed

  deploy-staging:
    needs: build-test
    if: github.ref == 'refs/heads/staging'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy to Staging Server
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.STAGING_HOST }}
          username: ${{ secrets.STAGING_USER }}
          key: ${{ secrets.STAGING_SSH_KEY }}
          script: |
            cd /home/ec2-user 
            sudo yum install -y git
            git clone https://github.com/erpostgr25/flask_Practice.git
            cd ~/flask_Practice
            git pull origin staging
            pip install -r requirements.txt
            ./deploy.sh

  deploy-production:
    needs: build-test
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy to Production
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.PROD_HOST }}
          username: ${{ secrets.PROD_USER }}
          key: ${{ secrets.PROD_SSH_KEY }}
          script: |
            cd /home/ec2-user  
            sudo yum install -y git
            git clone https://github.com/erpostgr25/flask_Practice.git
            cd ~/flask_Practice
            git pull origin main
            pip install -r requirements.txt
            ./deploy.sh            

